<div class="container">
    

<div class="col text-center">

        <br/>
        <br/>
        <br/>
        <br />
        <h1 id="p">Welcome to gift Card </h1>
        <br />
        <br />
        <div id="h">
"There are Souls in this
World which have the gift of finding joy 
everywhere and of leaving it behind them when they go."
</div>        
<br />
<br/>
<br/> 
<br/>
<br/>
<br/>   
    <div>
          <button [routerLink]="['/placeorder']" class="block" id="b">PLACE ORDER</button>
        </div>
    </div>
   
</div>
